@using Microsoft.AspNetCore.Identity
@using publishing.Areas.Identity.Data

@model publishing.Models.Product
@inject UserManager<publishingUser> UserManager

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменение данных о продукции</h1>
@*<hr />*@
<p>
    <a asp-action="TransitionToSelectMaterials" asp-route-productId="@Model.Id">Выбрать материалы</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Cost"/>
            <input type ="hidden" asp-for="CustomerId">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visual" class="control-label"></label>
                <input asp-for="Visual" class="form-control" />
                <span asp-validation-for="Visual" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TypeProduct.Type" class="control-label"></label>
                <select asp-for="TypeProductId" class="form-control" asp-items="ViewBag.TypeProductId"></select>
                <span asp-validation-for="TypeProductId" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label" style="margin-bottom:5px;"></label>
                <textarea asp-for="Description" id="summernote" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Index">Вернуться к списку продукций</a>
    }
    else
    {
        <a asp-controller="Customers" asp-action="CustomerProducts" asp-route-emailCustomer="@UserManager.GetUserName(User)">Вернуться к списку продукций</a>
    }
</div>

@section Scripts {
     <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 200,
                placeholder: 'Введите описание'
            });
        });
    </script>       
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
